.header__links {
    border: solid 1px rgb(255, 136, 136);
    border-radius: 3px;
    width: 46px;
    height: 20px;
    margin-right: 5px;
    will-change: transform;
}
.header__links:nth-child(4) {
    margin-left: 20px;
}