.header__links {
    margin-right: 5px;
    will-change: transform;
}
.header__links:nth-child(4) {
    margin-top: 1.4px;
    margin-left: 20px;
}
.header__links:nth-child(5) {
    margin-top: 1.4px;
 
   
}