@media screen and (max-width: 768px) {
    .excel-features__figuration-list {
        max-width: 200px;
        margin: 30px 5px 0;
    }
}
@media screen and (max-width: 444px) {
    .excel-features__figuration-list {
        max-width: 170px;
    }
}

@media screen and (max-width: 384px) {
    .excel-features__figuration-list {
        max-width: 138px;
    }
}