@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font-Inter.css);
/*бутстрап*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__button-link/header__button-link.css);
@import url(../blocks/header/__button-picture/header__button-picture.css);
@import url(../blocks/header/__button-link/_lilac/header__links_lilac.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__button-picture-quantity/header__button-picture-quantity.css);
@import url(../blocks/header/__button-title/header__button-title.css);
@import url(../blocks/header/__line/header__line.css);

@import url(../blocks/header/__button-link/header__button-link.css);
@import url(../blocks/header/__button-link/header__button-link.css);
@import url(../blocks/header/__button-link/header__button-link.css);




@import url(../pages/bootstrap.min.css);

:root {
    --color-green-craft: #6caf5c;
    --color-gray-craft: #929aa2;
    --color-black-craft: #333333;
    --color-text-white: #ffffff;
}

.page {
    max-width: 1000px;
    margin: auto;

}


 

/*///////////////*/
.download {
    margin: 60px auto 0;
    max-width: 872px;

}
@media screen and (max-width:992px) {
    .download__logo-wrapper {
        text-align-last: center;
    }
}
 
@media screen and (max-width:992px) {
    .download__title-wrapper {
        text-align: center;
    }
}

.download__picture {
    width: 128px;
    height: 128px;
    margin-right: 75px;
    padding: 0;
}

.download__title {
    font-family: "Gotham Pro";
    font-weight: 900;
    font-size: 60px;
    line-height: 1.01;
    color: var(--color-green-craft);
    padding: 0;
    margin: 43px 0 50px 0;
}
@media screen and (max-width:992px) {
    .download__title {
        margin: 43px 0 50px 0;
    }
}
.download__title_span {
    color: var(--color-black-craft);
}

.download__subtitle {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 18px;

    color: var(--color-black-craft);
    line-height: 1.667;
    margin: 0 0 18px 121px;

}
@media screen and (max-width:992px) {
    .download__subtitle {
        margin: 0;
    }
}

.download__subtitle_span {
    color: var(--color-green-craft);
}

.download__tools-block {
    margin: 50px auto 0;
}

.download__tools-picture {
    width: 50px;
    height: 43px;
}

.download__tools-title {
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 400;
    color: rgb(58, 87, 202);
    line-height: 1.667;
}

.download__button-wrapper {
    width: 207px;
}

.download__button {
    border-radius: 5px;
    background-color: rgb(104, 135, 223);
    box-shadow: inset 0px 2px 0px 0px rgba(104, 135, 223, 0.75);
    width: 207px;
    height: 50px;
    color: var(--color-text-white);

    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    text-transform: uppercase;

}

.download__label {

    margin-top: 22px;
    font-family: "PTSans";
    font-weight: 400;
    font-size: 10.77px;
    color: var(--color-gray-craft);
    line-height: 1.6;

}

.download__picture {
    width: 75px;
    height: 85px;
    margin: 0;
}

.download__picture-wrapper {
    justify-content: end;
}

@media screen and (max-width:992px) {
    .download__picture-wrapper {
        justify-content: center;
    }

}

@media screen and (max-width:575px) {
    .download__picture-wrapper {
        margin-top: 20px;
    }

}

.download__picture:first-child {

    margin-right: 7px;
}

/*///////////////*/
.excel-tool {
    margin-top: 75px;
    background-color: #f3f4f8;
}