@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font-Inter.css);
/*бутстрап*/
@import url(../pages/bootstrap.min.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__button-link/header__button-link.css);
@import url(../blocks/header/__button-picture/header__button-picture.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__button-link/_lilac/header__links_lilac.css);
@import url(../blocks/header/__button-picture-quantity/header__button-picture-quantity.css);
@import url(../blocks/header/__button-title/header__button-title.css);
@import url(../blocks/header/__line/header__line.css);

@import url(../blocks/download/download.css);
@import url(../blocks/download/__logo-wrapper/download__logo-wrapper.css);
@import url(../blocks/download/__title-wrapper/download__title-wrapper.css);
@import url(../blocks/download/__picture/download__picture.css);
@import url(../blocks/download/__title/download__title\ .css);
@import url(../blocks/download/__title/_span/download__title_span.css);
@import url(../blocks/download/__subtitle/download__subtitle.css);
@import url(../blocks/download/__subtitle/_span/download__subtitle_span.css);
@import url(../blocks/download/__tools-block/download__tools-block.css);
@import url(../blocks/download/__tools-picture/download__tools-picture.css);
@import url(../blocks/download/__tools-title/download__tools-title.css);
@import url(../blocks/download/__button-wrapper/download__button-wrapper.css);
@import url(../blocks/download/__button/download__button.css);
@import url(../blocks/download/__label/download__label.css);
@import url(../blocks/download/__picture-wrapper/download__picture-wrapper.css);

@import url(../blocks/excel-tool/excel-tool.css);
@import url(../blocks/excel-tool/__wrapper/excel-tool__wrapper.css);
@import url(../blocks/excel-tool/__list-wrapper/excel-tool__list-wrapper.css);
@import url(../blocks/excel-tool/__title/excel-tool__title.css);
@import url(../blocks/excel-tool/__subtitle/excel-tool__subtitle.css);
@import url(../blocks/excel-tool/__list-title/excel-tool__list-title.css);
@import url(../blocks/excel-tool/__video/excel-tool__video.css);
@import url(../blocks/excel-tool/__video-button/excel-tool__video-button.css);

@import url(../blocks/excel-features/excel-features.css);
@import url(../blocks/excel-features/__title/excel-features__title.css);
@import url(../blocks/excel-features/__picture-wrapper/excel-features__picture-wrapper.css);
@import url(../blocks/excel-features/__figuration-list/excel-features__figuration-list.css);
@import url(../blocks/excel-features/__picture/excel-features__picture.css);
@import url(../blocks/excel-features/__subtitle/excel-features__subtitle.css);
@import url(../blocks/excel-features/__subtitle/_span/excel-features__subtitle_span.css);
@import url(../blocks/excel-features/__picture-window-wrapper/excel-features__picture-window-wrapper.css);
@import url(../blocks/excel-features/__picture-window/excel-features__picture-window.css);
@import url(../blocks/excel-features/__list/excel-features__list.css);
@import url(../blocks/excel-features/__text-end-wrapper/excel-features__text-end-wrapper.css);


:root {
    --color-green-craft: #6caf5c;
    --color-gray-craft: #929aa2;
    --color-black-craft: #333333;
    --color-text-white: #ffffff;
    --color-blue-craft: #6887df;
}

.body {
    max-width: 1440px;
    margin: auto;
}