.download__title {
    font-family: "Gotham Pro";
    font-weight: 900;
    font-size: 60px;
    line-height: 1.01;
    color: var(--color-green-craft);
    padding: 0;
    margin: 43px 0 50px 0;
}
@media screen and (max-width:992px) {
    .download__title {
        margin: 43px 0 50px 0;
    }
}